.footer {
  text-align: center;
  padding: 20px 0;
  margin-top: auto; /* Empuja el footer al final */
  background: transparent;
}

.footer-text {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
  color: #a9a9a9;
}
