.load-more-button {
    color: white;
}

.container {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    border-radius: 10px;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    transition: all 0.3s ease-in-out;
    color: white;
}

.container:hover {
    background: linear-gradient(90deg, #e52e71, #ff8a00);
    transform: translate(-50%, -50%) scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}