.loading {
  width: 48px;
  height: 48px;
  border: 6px solid #f40096;
  border-top-color: #ffffff00; /* More specific override */
  border-radius: 50%;
  margin: 40px auto;
  animation: spin 1s linear infinite;
  box-shadow: 0 2px 12px rgba(25, 118, 210, 0.15);
  top: 40%;
  left: 47%;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.padreLoading{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .padreLoading {
    width: 100%;
  }
}


